{% extends "base.html" %}
{% load static%}
{% block content %}

  <div style="padding-top:10%; padding-left:10%;">
    <div class="albums">
      <div class="tittle-head">
        <h3 class="menu-right">Add Blog</h3>
        <div class="sign-right">
          <div class="menu-right">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %} 
              {{ form.as_p }}
              
              <input type="submit" value="Upload Blog" style="width:50%;" />
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}